/*TAG STYLING*/
	
p {color:#FF8E9C;}
body {
    background-color:cyan;
    margin: 0px 0px 0px 0px;
	min-width: 960px;
	text-align:center;
    }
	
/*CLASS STYLING*/
	
.column {
	float: left;
	width: 33.33%;
	}
.row:after {
	content: "";
	display: table;
	clear: both;	
	}
		
/*ID STYLING*/
	
#pcontainer {margin: 0px 15px;}
#header {
    background-color:#FF8E9C;
    color:black;
    padding:5px;
    }
#footer {clear:both;}
#icontainer {margin: 0px 15px;}